/* Initial requiremnts to avoid browser default margin and padding */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

/* Navigation bar setup */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;  
}

img[alt='logo-1'] {
    height: 60px;
margin-left: 25px;
}
img[alt='homeImg'] {
  margin-top: 25px;
 
}


/* iframe tag used to popup video into webpages  */

.iframeTag {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.iframeTag1 {
    margin-top: 10px;
}

.imgBelowIrameTag {
    display: flex;
    /* margin-top: 5px; */
    justify-content: center;
    flex-wrap: wrap;

}

.imgBelowIrameTag1 {
    margin-top: 20px;
}



.para-fLex1 {
    display: flex;
    justify-content: center;
    margin: 30px 1px;
}

.itemImages {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Responsiveness for all the devices using media queries */

@media only screen and (max-width: 1024px) {
    img[alt='homeImg'] {
        width: 900px;
    }

    .iframeTag1 {
        width: 80px;
        height: 510px;
    }

    ul li a {
        margin: 5px 5px;
    }
    img[alt='myntra'] {
        width:30px ;
     }
}

@media only screen and (max-width: 912px) {
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img[alt='homeImg'] {
        width: 800px;
    }

    .iframeTag1 {
        width: 600px;
    }

    img[alt="homeImg-1"] {
        width: 250px;
        height: 450px;
    }

    .iframeTag1 {
        width: 650px;
        height: 850px;
    }

    ul li a {
        margin: 5px 5px;
    }
    img[alt='myntra'] {
        width:30px ;
     }

}

@media only screen and (max-width: 724px) {
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img[alt='homeImg'] {
        width: 650px;
    }

    .iframeTag1 {
        width: 650px;
        height: 850px;
    }

    img[alt="homeImg-1"] {
        width: 220px;
        height: 400px;
    }

    ul li a {
        margin: 5px 5px;
    }
    img[alt='myntra'] {
        width:30px ;
     }


}

@media only screen and (max-width: 540px) {
    .navigationBar {
        height: 130px;


    }
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img[alt='homeImg'] {
        width: 250px;
    }

    .iframeTag1 {
        width: 250px;
        height: 450px;
    }

    img[alt="homeImg-1"] {
        width: 200px;
    }

    ul li a {
        margin: 5px 5px;
    }
}

@media only screen and (max-width: 414px) {
    .navigationBar {
        height: 130px;

    }
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img[alt='homeImg'] {
        width: 350px;
    }

    .iframeTag1 {
        width: 300px;
        height: 550px;
    }

    img[alt="homeImg-1"] {
        width: 200px;
    }

    ul li a {
        margin: 5px 5px;
    }
    img[alt='myntra'] {
        width:30px ;
     }
   
}

@media only screen and (max-width: 393px) {
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigationBar {
        height: 130px;
    }

    img[alt='homeImg'] {
        width: 350px;
    }

    .iframeTag1 {
        width: 300px;
        height: 550px;
    }

    img[alt="homeImg-1"] {
        width: 200px;
    }
    img[alt='myntra'] {
        width:30px ;
     }

}

@media only screen and (max-width: 280px) {
    .navItem-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigationBar {
        height: 100px;
    }

    img[alt='homeImg'] {
        width: 200px;
    }

    .iframeTag1 {
        width: 200px;
        height: 350px;
    }

    img[alt="homeImg-1"] {
        width: 100px;
    }
    img[alt='myntra'] {
        width:30px ;
     }

}